.swzback-button {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #DE4F3E;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px double #e9e9e9;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.swzback-svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.swzback-svgIcon path {
  fill: #e9e9e9;
}

.swzback-button:hover {
  width: 140px;
  border-radius: 15px;
  transition-duration: 0.3s;
  background-color: #DE4F3E;
  align-items: center;
}

.swzback-button:hover .swzback-svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
  background-color: #DE4F3E;
  
}

.swzback-button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: #e9e9e9;
  /* transition-duration: .3s; */
  font-size: 0px;
  background-color: #DE4F3E;
  
}

.swzback-button:hover::before {
  font-family: Garet;
  font-size: 15px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
  background-color: #DE4F3E;
}

@media (max-width: 768px) {
  .swzback-button {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }

  .swzback-button:hover {
    width: 120px;
  }
}